@media screen and (min-width:1024px) {

    * {
        font-size: 18px;
        font-family: Myriad Pro;
        margin: 0;
        padding: 0;
    }

    @import "mixin.scss";

    .header {
        width: 100%;
        height: 15rem;
        background: #eff0f2;
        display: grid;
        grid-template-columns: 10% 14% 50% 14% 10%;
        grid-template-areas: ". header-logo . header-icon ."
            ". header-text header-text header-text ."
            ". . header-button header-glass .";
    }

    .header-logo {
        height: 1.7rem;
        width: 4.5rem;
        grid-area: header-logo;
        border: 0.2rem solid black;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.5rem;
        color: black;
        padding: 0.1rem;
        margin-top: 1rem;

        span {
            color: lightblue;
            font-size: 1.2rem;
        }
    }

    .header-icon {
        height: 2rem;
        width: 30%;
        background-image: url(/assets/img/icon-menu.svg);
        background-size: cover;
        margin-left: 5rem;
        margin-top: 0.8rem;
        grid-area: header-icon;
    }

    .header-text {
        grid-area: header-text;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: #505050;

        span {
            background: lightblue;
            font-size: 1.2rem;
        }
    }

    .header-button {
        grid-area: header-button;
        width: 45%;
        height: 2rem;
        margin-left: 20%;
        margin-top: 5%;
        font-size: 1rem;
        text-align: center;
        color: #424648;
        border: 0.1rem solid #424648;
        line-height: 2rem;
        background: #eff0f2;

        :hover {
            cursor: pointer;
        }

    }

    .header-glass {
        grid-area: header-glass;
        width: 3rem;
        height: 3rem;
        background: #99a291;
        border-radius: 0.5rem;
        background-image: url(/assets/img/water-glass.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 20%;
        margin-left: 40%;

    }

    .aboutUs {
        width: 100%;
        height: auto;
        background: #f8fafa;
        padding-top: 5%;
    }

    .aboutUs-mainText {
        font-size: 1.1rem;
        color: #424648;
        text-align: center;
        margin-bottom: 1rem;


        span {
            font-size: 1.3rem;
            color: black;
            font-weight: bold;
        }
    }

    .aboutUs-group {
        @include grid-colums1;
        width: 100%;
    }

    .aboutUs-img {
        background-image: url(/assets/img/about_us.jpg);
        width: 100%;
        height: 25rem;
        background-size: cover;
        background-position: center;
    }



    .aboutUs-text1 {
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem 1rem 0 2rem;
    }

    .aboutUs-text2 {
        padding: 0.5rem 1rem 0 2rem;
    }

    .feature {
        width: 100%;
        height: auto;
        padding-top: 5%;
    }

    .feature-mainText {
        @extend .aboutUs-mainText;
    }

    .feature-imgs {
        @include grid-colums3;
        grid-gap: 1rem;
        width: 90%;
        margin: 5%;

    }

    .picture {
        background-image: url(/assets/img/workicecream.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .picture_2 {
        background-image: url(/assets/img/workcard.jpg);
    }

    .picture_3 {
        background-image: url(/assets/img/workbottle.jpg);
    }

    .picture_4 {
        background-image: url(/assets/img/workbook.jpg);
    }

    .picture_5 {
        background-image: url(/assets/img/9.jpg);
    }

    .picture_6 {
        background-image: url(/assets/img/home_dietitian_sectionbg.jpg);
    }

    .service {
        width: 100%;
        height: 55rem;
        background: #f9fbfb;
        padding-top: 5%;
    }

    .service-mainText {
        @extend .aboutUs-mainText;
    }

    .service-imgs {
        display: grid;
        grid-template-areas: "service1 service1 service2"
            "service3 service3 service4"
            "service5 service6 service6";
        grid-gap: 1rem;
        width: 90%;
        height: 80%;
        margin: 5%;
    }

    .service-image {
        background-image: url(/assets/img/service1.jpg);
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 20rem rgba(0, 0, 0, 0.9) inset;
        grid-area: service1;
    }

    .service-image_2 {
        background-image: url(/assets/img/service2.jpg);
        grid-area: service2;
    }

    .service-image_3 {
        background-image: url(/assets/img/service3.png);
        grid-area: service3;
    }

    .service-image_4 {
        background-image: url(/assets/img/service4.jpg);
        grid-area: service4;
    }

    .service-image_5 {
        background-image: url(/assets/img/service5.png);
        grid-area: service5;
    }

    .service-image_6 {
        background-image: url(/assets/img/service6.jpg);
        grid-area: service6;
    }

    .service-job {
        font-weight: bold;
        color: white;
        margin: 9rem 0 1rem 1rem;

    }

    .service-details {
        max-width: 22rem;
        color: white;
        margin-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .service-details2 {
        max-width: 17rem;
        color: white;
        margin-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .service-more {
        color: white;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .service-more::after {
        content: "→";
        margin-left: 0.5rem;
    }

    .service-more :hover {
        .service-job {
            color: #262b2e;
            background: #6eeee4;
            margin: 1rem;
        }

        .service-details {
            max-width: 22rem;
            color: #262b2e;
            margin-left: 1rem;
        }

        .service-details2 {
            max-width: 17rem;
            color: #262b2e;
            margin-left: 1rem;
        }
    }

    .team {
        width: 100%;
        height: auto;
        padding-top: 5%;
    }

    .team-mainText {
        @extend .aboutUs-mainText;
    }

    .team-imgs {
        @extend .feature-imgs;
        grid-auto-rows: minmax(20rem, auto);
        width: 95%;
        margin: 2%;
    }

    .picture_7 {
        background-image: url(/assets/img/team1.jpg);
    }

    .picture_8 {
        background-image: url(/assets/img/team2.jpg);
    }

    .picture_9 {
        background-image: url(/assets/img/team3.jpg);
    }

    .picture_10 {
        background-image: url(/assets/img/team4.jpg);
    }

    .picture_11 {
        background-image: url(/assets/img/team5.jpg);
    }

    .picture_12 {
        background-image: url(/assets/img/team6.jpg);
    }

    .team-person {
        display: none;
        width: 90%;
        height: 90%;
        background-image: url(/assets/img/chat.svg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #2c3a39;
        position: relative;
        top: 10%;
        padding: 5%;
        font-size: 0.9rem;

        :hover {
            display: block;
        }
    }

    .team-person-mainText {
        font-size: 1rem;
        margin-top: 4rem;
        margin-bottom: 0.5rem;

        span {
            font-size: 0.9rem;
            color: #767978;
            font-style: italic;
        }
    }

    .team-network {
        width: 5rem;
        height: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.3rem;
        position: relative;
        padding: 1rem 0;
    }

    .team-social {
        width: 1rem;
        height: 1rem;
        background-image: url(/assets/img/facebook-team.svg);
        background-size: cover;
        background-repeat: no-repeat;

    }

    .team-social_t {
        background-image: url(/assets/img/twitter-team.svg);
    }

    .team-social_d {
        background-image: url(/assets/img/dribbble-team.svg);
    }

    .team-social_e {
        background-image: url(/assets/img/envelope1-team.svg);
    }


    .person {
        width: 100%;
        height: auto;
        background-color: #f9fbfb;
        padding-top: 5%;
    }

    .person-mainText {
        @extend .aboutUs-mainText;
    }

    .person-group {
        @include grid-colums2;
        width: 90%;
        height: 25rem;
        margin: 1.5rem;
    }

    .person-image {
        width: 100%;
        height: 25rem;
        background-image: url(/assets/img/team3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .person-info {
        width: 95%;
        height: 60%;
        background: #eaebed;
        text-align: center;
        padding: 27% 2.5% 0 2.5%;
    }

    .person-name {
        margin-bottom: 5%;
    }

    .stars {
        width: 6rem;
        height: 1.5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 0.1rem;
        position: relative;
        left: 35%;
        top: 5%;
    }



    .star {
        width: 0.9rem;
        height: 0.9rem;
        background-image: url(/assets/img/star.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .companies {
        width: 85%;
        height: 2rem;
        margin: 3%;
        background-image: url(/assets/img/logo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .contact {
        background-image: url(/assets/img/bkfooter.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contact-grid {
        @include grid-colums2;
        grid-column-gap: rem;
        padding: 3rem;
    }

    .contact-form {
        background-color: rgba(58, 66, 66, 0.7);
        color: white;
        font-size: 1rem;
        padding: 2rem 1rem 0 1rem;
    }

    .contact-name {
        width: 90%;
        border-bottom: 0.1rem solid white;
        margin-top: 1rem;


        input {
            outline: none;
            background-color: #161a1b;
            opacity: 0;
            border: none;
        }
    }

    .contact-subject {
        width: 90%;
        border-bottom: 0.1rem solid white;
        margin-top: 1rem;


        input {
            outline: none;
            background-color: #161a1b;
            opacity: 0;
            border: none;
        }
    }

    .contact-mail {
        width: 90%;
        border-bottom: 0.1rem solid white;
        margin-top: 1rem;


        input {
            outline: none;
            background-color: #161a1b;
            opacity: 0;
            border: none;
        }
    }

    .contact-message {
        width: 90%;
        border-bottom: 0.1rem solid white;
        margin-top: 1rem;


        input {
            height: 2rem;
            outline: none;
            background-color: #161a1b;
            opacity: 0;
            border: none;
        }
    }

    .contact-button {
        height: 2.1rem;
        background-color: #6eeee4;
        border: 0.1rem solid #6eeee4;
        font-size: 1.1rem;
        font-weight: bold;
        color: #4c5858;
        padding: 0.5rem;
        margin: 2rem 0 1rem 0;


        &:hover {
            cursor: pointer;
        }

    }

    .contact-info {
        background-color: rgba(58, 66, 66, 0.7);
        color: white;
        font-size: 1rem;
        padding: 1rem;

        iframe {
            width: 100%;
            height: 10rem;
            margin-top: 1rem;
        }

    }

    .contact-adress {
        margin: 1rem 0 1rem 0;
    }

    .contact-web {
        a {
            text-decoration: none;
            color: white;
        }
    }

    .footer {
        background-color: #262b2e;
        width: 100%;
        height: auto;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        padding: 2% 0;
    }

    .social-network {
        width: 7rem;
        height: 1.7rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.4rem;
        position: relative;
        left: 45%;
        top: 5%;
        padding: 0.7rem 0;


    }


    .network {
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(/assets/img/pinterest-logo.svg);
        background-size: cover;
        background-repeat: no-repeat;

        :hover {
            background-image: url(/assets/img/pinterest-logo-blue.svg);
        }

    }

    .network_t {
        background-image: url(/assets/img/twitter-logo.svg);

        :hover {
            background-image: url(/assets/img/twitter-logo-blue.svg);
        }
    }

    .network_f {
        background-image: url(/assets/img/facebook-logo.svg);

        :hover {
            background-image: url(/assets/img/facebook-logo-blue.svg);
        }
    }

    .network_d {
        background-image: url(/assets/img/dribbble-logo.svg);

        :hover {
            background-image: url(/assets/img/dribbble-logo-blue.svg);
        }
    }



}