@mixin grid-colums2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@mixin grid-colums3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(15rem, auto);
    grid-row-gap: 0.3rem;
}

@mixin grid-colums1{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(1.5rem, auto);
    grid-row-gap: 0.3rem;
}